@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

body {
    background-color: #EEEEEE;
}

iframe {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1, h2, h3 {
    font-family: "Open Sans", sans-serif;
}

p {
    font-family: "Bitter", serif;
    color: #555;
}

.topbar {
    background: linear-gradient(to bottom, #008282, #004747);
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

.topbar p {
    color: #fff;
    padding: .5rem;
}

.topnavbar {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    padding: 0 20rem;
}

.topnavbar a {
    text-decoration: none;
    color: #fff;
}

.topnavbar a:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 
                 0 0 5px rgba(0, 128, 128, 0.7), 
                 0 0 10px rgba(0, 128, 128, 0.5);
    color: #e0f7fa; /* Optional: Lighten the text color slightly on hover */
}



.logo {
    width: 250px;
    height: auto;
}

.push-right {
    margin-left: auto;
}

.hero {
    background-image: url(img/sc-1.png);
    background-size: cover;
    height: 825px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.hero-text {
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem 1rem;
    width: 500px;
    position: relative;
    left: 200px;
    top: 50px;
    background-color: rgb(000, 000, 000, .5);
    border-radius: 8px;
}

.hero-text h1 {
    padding-bottom: 1.5rem;
}

.trial-btn {
    background-color: red;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: 8px;
}

.trainer-benefits {
    display: flex;
    gap: 2rem;
    padding: 2rem 10rem;
    padding-top: 0;
    padding-bottom: 0;
}

.trainer-benefits h3 {
    font-size: 1.5rem;
    padding-top: 2rem;
}

.trainer-benefits p {
    font-size: 1.25rem;
    padding-top: 1rem;
}

.left-trainer, .right-trainer {
    padding: 4rem;
    padding-top: 2rem;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section-header {
    padding: 0;
}

.section-header h1 {
    font-size: 2rem;
    padding: 2rem;
    padding-top: 0;
    text-align: center;
    font-weight: 600;
}

.section-header h2 {
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    font-weight: 600;
}

.section-header p {
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    color: #000;
}

.home-video-section {
    background-image: url('https://wallpapercave.com/wp/wp2732950.gif');
    background-size: cover;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    text-align: center;
    padding: 4rem;
    color: #fff;
}

.fitness-programs {
    padding: 0 10rem;
}

.fitness-programs h2 {
    font-weight: 600;
}

.programs-container {
    display: flex;
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.programs-container a {
    text-decoration: none;
    color: #000;
}

.programs-container h3 {
    font-size: 1.5rem;
    padding: 3rem;
    text-transform: uppercase;
}

.fitness-programs h2 {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}

.programs-container img {
    width: 100%;
    height: auto;
}

.program-one, .program-two, .program-three, .program-four {
    width: 25%;
    border: #EEEEEE solid 1px;
}

/* Sign-Up Form Styles */
.signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #fff;

}

.signup-form {
    display: flex;
    gap: 1rem;
}

.signup-form input[type="email"] {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #A4A3A3;
    border-radius: 8px;
    width: 300px;
    outline: none;
}

.signup-form input[type="email"]:focus {
    border-color: #7C7C7C;
}

.signup-btn {
    background-color: red;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-btn:hover, .trial-btn:hover {
    background-color: darkred;
}

.main-footer {
    padding: 2rem;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 1.25rem;
}

.main-footer p {
    color: #fff;
}

/* About Page */

.about-me-section {
    padding: 4rem 10rem;
    background-color: #f9f9f9;
}

.about-me-content {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    border-radius: 8px;
    padding: 2rem;
}

.about-me-text {
    flex: 1;
}

.about-me-text h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: #333;
}

.about-me-text p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    color: #555;
}

.about-me-text ul {
    list-style: disc;
    margin: 1rem 0 0 1.5rem;
}

.about-me-text ul li {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 0.75rem;
}

.about-me-image {
    flex: 0 0 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-me-text, .about-me-image {
    flex: 1;
}

/* Training Page */

.training-hero {
    background:
    linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        url(img/personal-training-hero.png);
    background-size: cover;
    height: 700px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
}

.training-plan {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.training-plan h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.training-plan ul {
    list-style: none;
    padding-left: 0;
}

.training-plan li {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.training-plan li strong {
    color: #007bff; /* Highlight important text */
}

.training-plan ul ul {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

.training-plan ul ul li {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #333;
}
